@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* reset */
*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  color: #333; 
  font-family: 'Noto Sans KR', sans-serif; 
  font-weight: normal;
  font-style: normal;
}
ul, li{list-style: none;}
a{color: inherit; text-decoration: none;}

/* lay out */
/* header부분 */
header{
  width: 100vw;
  height: 79.6vh;
  overflow: hidden;
}
/* 상단 탑메뉴 부분 */
#gnb{
  width: 100vw;
  height: 7vh;
  background-color: #fff;
}
.dropBox{
  width: 300vw;
  height: 25vh;
  background-color: #fff;
  /* top: -45vw; */
  top: 0;
  left: -100vw;
  /* opacity: 0; */
  z-index: -1;
}
#topMenu{
  width: 70vw;
  height: 7vh;
}

#topMenu ul:hover li{
  display: block;
}
#topMenu li{
  transition: 0.5s;
  display: none;
}
#topMenu li:hover{
  color: #55A36A;
}
header nav{
  width: 30.2vw;
  height: 7vh;
}
header nav ul{
  width: 6.25vw;
  line-height: 7vh;
  /* background-color: #ffae41; */
}
header nav li{
  width: 6.25vw;
  line-height: 4vh;
  font-size: 1.125rem;
}
#gnbIcon{
  width: 8.3vw;
  height: 7vh;
  margin-left: 2vw;
}
/* 메뉴 호버시 효고ㅏ */
.mainMenu>a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
.mainMenu>a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.mainMenu>a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(255, 235, 133, 0.3);
  z-index: 0;
  transition: transform .3s ease;
}
.mainMenu>a {
  position: relative;
  font-size: 1.25rem;
}

/* 메인 텍스트 */
#mainTextWraper{
  width: 100vw;
  height: 47vh;
}
#mainText{
  width: 40.5vw;
  height: 31.8vh;
  top: 23.8vh;
  left: 14.4vw;
}
#mainBackground article:nth-child(1){
  width: 50px;
  height: 50px;
  top: 22.9vh;
  left: 12.6vw;
  z-index: -2;
}
#mainBackground article:nth-child(2){
  width: 78px;
  height: 78px;
  top: 27.7vh;
  left: 29.6vw;
  z-index: -2;
}
#mainViewmore{
  width: 8.6vw;
  height: 3.7vh;
  border-radius: 20px;
}
#mainViewmore li{
  width: 15vw;
  height: 3.7vh;
}

/* header 비주얼 부분 */
#headerVisual{
  width: 100vw;
  height: 76.2vh;
  overflow: hidden;
  z-index: -2;
  background-color: black;
}
#headerVisual video{
  top: -10vw;
  z-index: -2;
  opacity: 0.9;
}


/* section 부분 시작 */
/* section 1 부분  */
#section-1{
  width: 100vw;
  height: 80vh;
  background-color: #F9F5E9;
}
#section-1>h2{
  top: 10vh;
}
#section-1-con{
  width: 60.8vw;
  height: 48vh;
  z-index: 1;
  top: 20vh;
}
#section-1-bg{
  bottom: 10vh;
}
#section-1-viewmore{
  width: 158px;
  height: 38px;
  border-radius: 27px;
  background-color: #55A36A;
  margin-bottom: 10vh;
  transition: all 0.5s;
}
#section-1-viewmore:hover{
  width: 6.6vw;
  cursor: pointer;
}
/* section -2 부분  */
#section-2{
  width: 100vw;
  height: 130vh;
}
#section-2-topBar{
  width: 71vw;
  height: auto;
  padding: 0 7.1vw;
}
#section-2-topBar>ul:nth-child(2){
  width: 28.3vw;
  height: auto;
}
#section-2-con{
  width: 60.8vw;
  height: 75vh;
  margin-top: -10vh;
}
#section-2-con>ul{
  width: 13.6vw;
  height: 41.6vh;
}
#sectionConPage{
  width: 28vw;
  height: 3vh;
  font-size: 1.25rem;
}
#sectionConPage li:hover{
  cursor: pointer;
  text-decoration: underline;
}


#section-3{
  width: 100vw;
  height: 34.4vh;
}



/* footer */
footer{
  width: 100vw;
  height: 33.3vh;
  background-color: #F7AC74;
}
footer ul{
  width: 33.3vw;
  line-height: 20px;
}
footer>div:nth-child(1){
  width: 33.4vw;
  height: 22.4vh;
}
footer>div:nth-child(2){
  width: 33.4vw;
  height: 24.8vh;
}

/* 정리 */
.bakco{
  background-color: aqua;
}
.posi-re{
  position: relative;
}
.posi-ab{
  position: absolute;
}
.posi-ab-00{
  position: absolute;
  top:0;
  left: 0;
}
.posi-ab-tr00{
  position: absolute;
  top: 0;
  right: 0;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
}
.flex-sa{
  display: flex;
  justify-content: space-around;
}
.flex-cen{
  display: flex;
  justify-content: center;
}
.flex-item-cen{
  display: flex;
  align-items: center;
}
.flex-str{
  display: flex;
  justify-content: start;
}
.flex-end{
  display: flex;
  justify-content: end;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.ali-items-cen{
  align-items: center;
}
.ali-items-end{
  align-items: flex-end;
}
.ma-0-a{
  margin: 0 auto;
}
.txt-center{
  text-align: center;
}
.txt-al-ri{
  text-align: right;
}
.font-16px{
  font-size: 1rem;
}
.font-18px{
  font-size: 1.125rem;
}
.font-20px{
  font-size: 1.25rem;
}
.font-22px{
  font-size: 1.375rem;
}
.font-24px{
  font-size: 1.5rem;
}
.font-26px{
  font-size: 1.625rem;
}
.font-28px{
  font-size: 1.75rem;
}
.font-32px{
  font-size: 2rem;
}
.font-36px{
  font-size: 2.25rem;
}
.font-40px{
  font-size: 2.5rem;
}
.font-50px{
  font-size: 3.125rem;
}
.font-54px{
  font-size: 3.375rem;
}
.font-66px{
  font-size: 4.125rem;
}

.letter-spacing-20px{
  letter-spacing: 20px;
}
.font-wei-100{
  font-weight: 100;
}
.font-wei-200{
  font-weight: 100;
}
.font-wei-300{
  font-weight: 300;
}
.font-bold{
  font-weight: bold;
}
.border-bo-1px-ebebeb{
  border-bottom: 1px solid #ebebeb;
}
.border-bo-1px-e1e1e1{
  border-bottom: 1px solid #e1e1e1;
}
.back-color-orange{
  background-color: #F7AC74;
}
.back-color-yellow{
  background-color: #FFEB85;
}
.color-ffae41{
  color: #ffae41;
}
.color-orange{
  color: #F7AC74;
}
.color-yellow{
  color: #FFEB85;
}
.color-fff{
  color: #FFf;
}
.color-yellow{
  color: #55A36A;
}
.border-redi-50{
  border-radius: 50%;
}
.margin-10px{
  margin: 0 10px;
}
.margin-1vw{
  margin: 0 1vw;
}
.margin-2vw{
  margin: 0 2vw;
}
.margin-left-2vw{
  margin-left: 2vw;
}
.margin-top-2vw{
  margin-top: 2vw;
}
.margin-top-1vw{
  margin-top: 1vw;
}
.margin-top-10px{
  margin-top: 10px;
}
.margin-bo-1vw{
  margin-bottom: 1vw;
}
.padding-1vw{
  padding: 0 1vw;
}
.font-family-mon{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.border-fff{
  border-right: 2px solid #fff;
}
.border-bo-2-org{
  border-bottom: 2px solid #F7AC74;
}
.float-le{
  float: left;
}
.border-bo-1-e9e0cf{
  border-bottom: 1px solid #E9E0CF;
}
.display-none{
  display: none;
}

@media (max-width: 520px){
  body{
    overflow-x: hidden;
  }
  /* header 부분 */
  /* 메뉴 */
  #topMenu{
    display: none;
  }
  #m-menu{
    display: block;
  }
  #gnb{
    display: flex;
    justify-content: space-between;
    padding: 6vw;
  }

/* section 부분 시작 */
/* section 1 부분  */
#section-1{
  width: 100vw;
  height: 100vh;
  background-color: #F9F5E9;
}
#section-1>h2{
  top: 7vh;
  font-size: 1.25rem;
}
#section-1-con{
  width: 85vw;
  height: 70vh;
  z-index: 1;
  top: 15vh;
  flex-direction: column;
}

#section-1-con div p{
  font-size: 1.25rem;
  margin: 2vw 0;
}
#section-1-con div h2{
  font-size: 2rem;
  margin: 2vw 0;
}
#section-1-bg{
  bottom: 10vh;
}
#section-1-viewmore{
  margin-top: 2vw;
}
#section-1-viewmore:hover{
  width: 20vw;
  cursor: pointer;
}


/* section -2 부분  */
#section-2{
  width: 100vw;
  height: 200vh;
}
#section-2-topBar{
  width: 80vw;
  height: auto;
  padding: 0;
}
#topBarButton{
  display: none;
}
#section-2-con{
  width: 100vw;
  height: 150vh;
}
#section-2-con>ul{
  width: 45vw;
  height: auto;
}
#sectionConPage{
  width: 80vw;
  height: 3vh;
  font-size: 1.25rem;
}
#sectionConPage li:hover{
  cursor: pointer;
  text-decoration: underline;
}





  /* 섹션 4 - 티 클래스 배너 부분 */
#section-3{
  display: none;
}


/* footer */
footer{
  flex-direction: column;
}
footer ul{
  width: 90vw;
  line-height: 20px;
}
footer>div:nth-child(1){
  width: 90vw;
  height: 40vh;
  justify-content: space-around;
}
footer>div:nth-child(2){
  width: 90vw;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
footer>div:nth-child(2) a{
  display: none;
}

}